*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.deebug{
    height: 150px;
    border: 1px solid black;
}

.content{
    border: 1px solid black;
    width: 100%;
}

.border{
    border: 1px solid black;  
}

.avatar{
    width: 200px;
}

/* UTILITIES */

.bg-color-black{
    background-color: black;
}

.bg-color-darkceleste{
    background-color: rgb(0, 68, 255);
}

.bg-color-blue{
    background-color: blue;
}

.bg-color-darkblue{
    background-color: rgb(44, 44, 99);
}

.bg-color-greyblue{
    background-color: rgb(62, 62, 141) ;
}

.bg-color-acqua{
    background-color: aqua;
}

.bg-color-darkpink{
    background-color: rgb(197, 112, 126);
}

.bg-color-greypinnk{
    background-color: rgb(184, 138, 152);
}

.bg-color-lightblue{
    background-color: rgb(55, 134, 187);
}

/* STYLE*/

.lines:before, .lines:after {
    display: inline-block;
    content: '';
    width: 100px;
    height: 3px;
    background-color: black;
    background-color: white;
    vertical-align: middle;
}

.black_lines.lines::before, .black_lines.lines::after {
    background-color: black;
}
